body{
    color:rgb(0, 0, 0) ;
    background-image: linear-gradient(to top,rgb(220, 31, 253),rgb(107, 255, 255));
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border:2px dashed rgb(0, 4, 255) ;
    width: 350px;  
    height: 300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color: rgb(34, 67, 255);
}